@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  width: 700px;
}

.header,
.footer {
  border: 1px gold solid;
}

main {
  /* height: 500px; */
  background-color: rgb(233, 232, 232);
  padding: 20px;
}
.footer {
  height: 100px;
  background-color: black;
  color: white;
}
.header {
  background-color: beige;
  color: green;
  padding: 15px;
}

video {
    width: 90%;
}
