html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* шапка */

.header {
  /* min-height: 5rem; */
  font-family: "Open Sans", sans-serif;
}

nav ul {
  text-align: right;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding: 1rem 0; */
}
nav li {
  list-style-type: none;
  display: inline;
  margin-left: 2rem;
  margin-right: 2rem;
  /* background-color: beige; */
}

/* Клякса */

.energy-color {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/cc54848d24ec5cb1be8c9d83/874-min.jpg);
  background-position: right top;
  background-size: cover;
  padding: 100px 0 100px 100px;
}

.energy-color_title {
  font-size: 36px;
  color: #111;
  letter-spacing: 8px;
  text-transform: uppercase;
  line-height: 130%;
  font-weight: 200;
  margin-bottom: 20px;
}

.energy-color_title__blue {
  display: block;
  color: #179bd6;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 130%;
}

.energy-color_description {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  width: 50%;
}

.energy-color_description a {
  font-style: normal;
  text-decoration: none;
}

.energy-color_description .my-lovely-button {
  color: #fff;
  background-color: #179bd6;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding: 10px 30px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
}

/* footer */

.footer {
  background-color: #333333;
  color: white;
  height: 10rem;
  border-radius: 0 0 2rem 2rem;
}

.footer > p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 3rem;
}
